

body{
    background-color: #A0E4CB;
}

.delete{
    width: 2cm; 
    background-color: rgb(166, 175, 177);
    color: black;
}

.save{
    width: 2cm; 
    background-color: rgb(184, 197, 197);
}

hr {
    background-color: rgb(255, 255, 255);
    border-style: dotted none none;
    border-width: 5px;   
}

.card:hover{
    box-shadow: 5px 6px 6px 2px #529ce7;
    transform: scale(1.05);
}

.card-footer{
    padding: 0%;
    size: 3cm;
    height: auto;
}
.card-body{
    padding: 10%;
}
.card-body:hover{
    
    transform: scale(1.1);
}